{
  "development": {
    "PORT": 3000,
    "PROTOCOL": "http",
    "DOMAIN": "localhost",
    "DB_DOMAIN": "localhost",
    "DATABASE_NAME": "eag_db",
    "IP_WHITE_LIST": [
      "::1",
      "::ffff:127.0.0.1"
    ],
		"JWT_SECRET": "eag-secretKEY"
  },
  "production": {
    "PORT": 80,
    "PROTOCOL": "http",
    "DOMAIN": "207.154.201.232",
    "DB_DOMAIN": "localhost",
    "DATABASE_NAME": "eag_db",
    "IP_WHITE_LIST": [
      "::1",
      "::ffff:127.0.0.1"
    ],
	  "JWT_SECRET": "eag-secretKEY"
  }
}